.agenda {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.agenda__dia {
  font-weight: 700;
  color: var(--cinza-escuro);
  margin-top: 2rem;
  align-self: flex-start;
}

.container__agenda {
  margin: 1rem 0;
  background-color: var(--branco);
  border-radius: 8px;
  max-width: 380px;
}

.perfil__paciente {
  display: flex;
  align-items: center;
  padding: 1rem 1rem .5rem 1rem;
}

.perfil__paciente-img {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  margin-right: 1rem;
}

.perfil__paciente-nome {
  font-size: 14px;
  font-weight: 700;
  color: var(--cinza-escuro);
}

.perfil__paciente-texto,
.perfil__paciente-texto-local {
  font-size: 12px;
  text-align: top;
  color: var(--cinza-claro);
  margin-top: .3rem;
}

.perfil__paciente-texto::before {
  content: url(../img/camera.svg);
  margin-right: .5rem;
}

.link__chat {
  margin-left: auto;
}

hr {
  border-color: var(--fundo);
  size: 5;
}

.consulta {
  padding: .5rem 1rem .8rem 1rem;
}

.agenda__horario {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: .8rem;
}

.consulta__link {
  display: flex;
  justify-content: space-between;

}

.consulta__link-video {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: var(--branco);
  padding: 1rem;
  box-shadow: 0px 4px 16px rgba(255, 176, 80, 0.16);
  border-radius: 8px;
  background-color: var(--laranja);
}

.consulta__link-audio {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: var(--cinza-escuro);
  padding: 1rem;
  border: 1px solid var(--fundo);
  border-radius: 8px;
  background-color: var(--branco);
}

.perfil__paciente-texto-local::before {
  content: url(../img/localizacao.svg);
  margin-right: .5rem;
}

.consulta__link-endereco {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: var(--branco);
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  box-shadow: 0px 4px 16px rgba(72, 148, 255, 0.16);
  border-radius: 8px;
  background-color: var(--azul);
}

/* Versão tablet (min-width: 768px) */
@media screen and (min-width: 768px) {
  
  .agenda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    margin: 0 2rem;
  }

  .agenda__dia {
    grid-column: span 2;
  }

  .container__agenda {
    justify-self: center;
  }
}

/* Versão desktop (min-width: 1065px) */
@media screen and (min-width: 1065px) {

  .agenda {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .agenda__dia {
    grid-column: span 3;
    justify-self: start;
  }

}