.rodape {
  position: sticky;
  bottom: 0%;
  width: 100%;
}

.container__rodape {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  text-align: center;
  background-color: var(--branco);
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 12px 12px 0 0;
  padding: 1rem; 
}

.menu__link--selecionado {
  color: var(--azul);
  font-size: 12px;
  margin-top: .2rem;
}

.menu__link-texto {
  color: var(--cinza-escuro);
  font-size: 12px;
  margin-top: .2rem;
}

/* Versão desktop (min-width: 1065px) */
@media screen and (min-width: 1065px) {

  .rodape {
    display: none;
  }
}